@model IEnumerable<diplomMed.Models.Ivl>

@{
    ViewData["Title"] = "Index";
}


<!---<p>
    <a asp-action="Create">Create New</a>
</p>-->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatteryType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeCharging)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkModes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equip)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatteryType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeCharging)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkModes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equip.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Храктеристики</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
