@model diplomMed.Models.EquipmentViewModel

@{
    ViewData["Title"] = "Index";
}

<!--<h2>Index</h2>-->

<p>
    <table class="table">
        <tr >
            <th> <a asp-action="Create">Добавить прибор </a></th>
            <th> <a asp-action="DefsCreate">Добавить деффибрилятор</a></th>
            <th>  <a asp-action="EkgCreate">Добавить экг</a></th>
            <th>  <a asp-action="IvlCreate">Добавить ИВЛ</a></th>
            <th>  <a asp-action="MonitorCreate">Добавить Монитор</a></th>
            <th>  <a asp-action="PulsOxxCreate">Добавить пульсоксиметр</a></th>
            <th><a asp-action="StretcherCreate">Добавить носилки</a></th>
        <!---    <th><a asp-action="ReanimCreate">Добавить набор</a></th>-->

        </tr>
        </table>
    <table class="table">
        Параметры
        <tr>
           <th><a asp-controller="Defs" asp-action="Index"> Параметры дефибрилляторов</a></th>
            <th><a asp-controller="Ekgs" asp-action="Index">Параметры экг </a></th>
            <th><a asp-controller="Ivls" asp-action="Index">Параметры ИВЛ</a></th>
            <th><a asp-controller="Monitors" asp-action="Index">Параметры мониторов</a></th>
            <th><a asp-controller="PulsOxxes" asp-action="Index">Параметры пульсоксиметров</a> </th>
            <th><a asp-controller="Stretchers" asp-action="Index">Параметры носилок</a>
        </tr>
    </table>
</p>
<form asp-controller="Equipment" asp-action="Index" method="get">
    <p>
        Страна производства: <select asp-for="DefCountry" asp-items="Model.Countries">
            <option value="">Все</option>
        </select>
        Вид прибора: <select asp-for="EquipType" asp-items="Model.EquipTypes">
            <option value=""></option>
        </select>
        Класс АСМП: <select asp-for="defCateg" asp-items="Model.Categs">
            <option value=""></option>
        </select>

        Поиск: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
    <br>
    Искать по цене от <input type="text" asp-for="numOne" /> до <input type="text" asp-for="numTwo" />
</form>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Equips[0].Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equips[0].EquipType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equips[0].Developer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equips[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equips[0].Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equips[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Equips) {
        <tr>
            @if (item.Photo != null)
            {

                <td>
                    <img style='width:80px; height:60px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Photo))" />
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.EquipType)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Developer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Характеристики</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
